 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #9b0000;
    background-image: linear-gradient(to top, #b73e3e 0%,#b73e3e 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
    text-align: center;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #9b0000;
    transition: all 0.3 ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 100%;
        width: 100%;
        max-width: 1300%;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #141414;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navber__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero{
    background-color: #141414;
}

.hero__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.hero__content h1{
    font-size: 3rem;
    color: white;
}

.hero__content p{
    font-size: 1.5rem;
    color: #b73e3e;
}

.hero__btn{
    font-size: 1rem;
    background-color: #b73e3e;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.hero__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.hero__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9b0000;
    transition: all 0.35s;
    border-radius: 4px;
}

.hero__btn:hover{
    color: #fff;
}

.hero__btn:hover:after{
    width: 100%;
}

@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 60px;
    }

    .hero__description{
        font-size: 40px;
    }
}
/* About Section */
.about{
    background-color: #141414;
    padding: 10rem 0;
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about__img--container{
    text-align: center;
}

#about__img{
    height: 510px;
    width: 510px;
}

.about__content h1{
    font-size: 2rem;
    color: #fff;
}

.about__content p{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #b73e3e;
}

.about__btn{
    font-size: 1rem;
    background-color: #b73e3e;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.about__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.about__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9b0000;
    transition: all 0.35s;
    border-radius: 4px;
}

.about__btn:hover{
    color: #fff;
}

.about__btn:hover:after{
    width: 100%;
}

@media screen and (max-width: 768px){
    .about__content h1{
        font-size: 60px;
    }

    .about__content p{
        font-size: 40px;
    }
}

/* Content Section */
.content{
    background: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.content h1{
   color: #b73e3e;
   margin-bottom: 5rem;
   font-size: 2rem;
}

.content__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.content__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,  #0c0c0c 0%, #0c0c0c 100%);
    transition: 0.3s ease-in;
}

.content__card h2{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.content__card p{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.content__btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.content__card button{
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #b73e3e;
    font-size: 1rem;
}

.content__card button:hover{
    cursor: pointer;
}

.content__card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .content__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .content__wrapper{
        grid-template-columns: 1fr;
    }
}

/* Event Section */
.event{
    background: #141414;
}

.event h1{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    background: #141414;
    color: #b73e3e;
    margin: 0;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}

 
/* Contact Us Section */
.contact{
    background: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.contact h1{
   color: #b73e3e;
   margin-bottom: 5rem;
   font-size: 2rem;
   font-weight: 100;
}

.contact__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.contact__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,  #0c0c0c 0%, #0c0c0c 100%);
    transition: 0.3s ease-in;
}

.contact__card h2{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.contact__card p{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.contact__btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.contact__card button{
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #b73e3e;
    font-size: 1rem;
}

.contact__card button:hover{
    cursor: pointer;
}

.contact__card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .contact__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .contact__wrapper{
        grid-template-columns: 1fr;
    }
}

/*Streaming Analytics*/
.analytics{
    background: #141414;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20rem 0;
}

.analytics a{
    color: #b73e3e;
   margin-bottom: 5rem;
   font-size: 2rem;
   text-decoration: none;

}
